In [9]:
import pandas as pd

In [10]:
datos = pd.read_csv('C:\\Users\\acarrasco\\Desktop\\actividad-clase-2-actividad-clase-2.csv')
dfltrado = datos.fillna(0)
dfltrado.head()

,unique_key,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,...,extras,trip_total,payment_type,company,pickup_latitude,pickup_longitude,pickup_location,dropoff_latitude,dropoff_longitude,dropoff_location
0,00072781e643fd94d19bb28ce130604e4f2db3ec,0a93e246fb9b99a3be61ca72d6e9ca02ca57fd26fa38ac...,2016-08-17 21:00:00 UTC,2016-08-17 21:00:00 UTC,13,11.39,1.703181e+10,1.703181e+10,0.0,0.0,...,0.0,3.25,Cash,Yellow Cab,0,0,0,0,0,0
1,00073f4c6c9b4c237b1e936d17bb711dfa0b6a97,ec73aeaa166a9fabcd546bd176e75ee589e58653db8b0c...,2019-03-18 17:45:00 UTC,2019-03-18 18:45:00 UTC,3185,29.69,0.000000e+00,0.000000e+00,76.0,24.0,...,4.0,56.70,Credit Card,Chicago Carriage Cab Corp,41.980.264.315,-87.913.624.596,POINT (-87.913624596 41.9802643146),41.901.206.994,-87.676.355.989,POINT (-87.6763559892 41.90120699410001)
2,0008a6d1250f6c23862d13b9d3fe947159652e24,51620bbd9c2f977b8abcf5537e65f0fa24af77d00fb3c2...,2013-05-17 09:30:00 UTC,2013-05-17 09:45:00 UTC,840,23.83,0.000000e+00,0.000000e+00,8.0,6.0,...,1.0,13.45,Cash,Dispatch Taxi Affiliation,41.899.602.111,-87.633.308.037,POINT (-87.6333080367 41.899602111),41.944.226.601,-87.655.998.182,POINT (-87.6559981815 41.9442266014)
3,000fa41b1c692b6cc2f9b9b5e3765c08f64d28be,1626f97f0f9d0b836ff89cc85c91115b3450ea6e6db6b8...,2014-04-26 21:00:00 UTC,2014-04-26 21:30:00 UTC,2160,28.84,1.703132e+10,1.703141e+10,32.0,41.0,...,0.0,31.85,Cash,Top Cab Affiliation,41.884.987.192,-87.620.992.913,POINT (-87.6209929134 41.8849871918),41.790.506.261,-87.583.143.717,POINT (-87.5831437169 41.7905062613)
4,00105ef7f0b8d6c2dfce7b0a454376440100c787,888ae68d70813efa2665c4293ed0a5b5f82cdd3ed4b704...,2013-12-11 22:30:00 UTC,2013-12-11 22:45:00 UTC,660,21.92,1.703108e+10,1.703108e+10,8.0,8.0,...,1.0,9.44,Cash,Blue Ribbon Taxi Association Inc.,41.892.072.635,-87.628.874.157,POINT (-87.6288741572 41.8920726347),41.890.922.026,-87.618.868.355,POINT (-87.6188683546 41.8909220259)

In [11]:
dfcol=dfltrado[['taxi_id','payment_type','trip_total']]

In [12]:
dff=dfcol[(dfcol['payment_type']=='Mobile') & (dfcol['trip_total'].between(20,44))].groupby(['taxi_id']).sum()
print('Los taxis distintos que han hecho un viaje de entre 20 y 44€ y hayan pagado con Mobile son :',dff.count())

Los taxis distintos que han hecho un viaje de entre 20 y 44€ y hayan pagado con Mobile son : trip_total    0
dtype: int64